/*
FUENTES:

font-family: 'Libre Baskerville', serif;
font-family: 'Roboto', sans-serif;
*/

/*
PALETA DE COLORES:

blanco: #fff;
negro: #000;

gris: rgb(234,234,234);

azul claro: rgb(49,86,161);
azul medio: rgb(26,33,62);
azul oscuro: rgb(38,47,84);
*/

/* IMPORTACIÓN DE FUENTES */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Roboto');

/* ESTILOS GENERALES */
*{
	transition: ease-in-out .2s all;
	-webkit-transition: ease-in-out .2s all;
	-moz-transition: ease-in-out .2s all;
	-ms-transition: ease-in-out .2s all;
	-o-transition: ease-in-out .2s all;
}

p,a,label{
	font-family: 'Roboto', sans-serif;
}

.btn{
	text-transform: uppercase;
}

.body_grey{
	background-color: rgb(234,234,234);
}

/* ICONOS PERSONALIZADOS */

.icon-custom{
	position: relative;
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin-top: -4px;
}

.icon-quote-start{
	background: url('../img/icons/quote-end-icon.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-quote-end{
	background: url('../img/icons/quote-start-icon.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

/* LOGOTIPO E IDENTIDAD DE MARCA */
.logo {
    background: url("../img/logoblanco.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 210px;
    height: 110px;
    margin: 0;
    display: inline-block;
}

.hide-text {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}

/* NAVEGACIÓN */
nav{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 99;
}

.pre-nav a{
	font-size: .8em;
	color: #fff;
}

.pre-nav{
	padding: 4px 0px;
	border-bottom: 1px solid rgba(255,255,255,.3);
}

.pre-nav .col-md-6:first-child ul{
	text-transform: uppercase;
	font-size: .9em;

}

.main-nav a{
	font-size: .8em;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

nav .nav{
	display: inline-flex;
}

.main-nav .btn-primary{
	background-color: #fff;
	padding: 7px 20px;
	border-radius: 25px;
	border: none;
	color: rgba(49,86,161);
	margin-left: 15px;
	padding-top: 9px;
}

.main-nav .btn-primary i{
	margin-left: 10px;
}

.main-nav .btn-primary:hover{
	background-color: rgba(49,86,161);
	color: #fff;
}

.main-nav .dropdown-item{
	color: rgba(38,47,84);
	padding: .8em 1.5em;
}

.main-nav .dropdown-item:hover{
	color: #fff;
	background-color: rgba(26,33,62);
}

.main-nav .dropdown-menu{
	padding: 0px;
}

.caret-nav{
	margin-left: 5px;
}

.dropdown-item i{
	margin-right: 10px;
}

.nav-up{
    top: -180px;
}

nav.darkback{
	background-color:rgba(38,47,84);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

nav.darkback .pre-nav{
	background-color:rgba(26,33,62);
}

nav.darkback .redes a:hover{
	color: #1e3791;
}

nav.darkback_int{
	background-color:rgba(38,47,84);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

nav.darkback_int .pre-nav{
	background-color:rgba(26,33,62);
}

nav.darkback_int .redes a:hover{
	color: #1e3791;
}

/* PÁGINA INICIO */
.jumbotron{
	background: url('../img/fondo-index_2.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	color: #fff;
	padding-top: 250px;
    padding-bottom: 300px;
}

.jumbotron .overlay{
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.jumbotron .container{
	position: relative;
	z-index: 2;
}

.jumbotron .uppercase-title{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 1em;
}

.jumbotron h3{
	font-family: 'Libre Baskerville', serif;
	font-size: 2.8em;
}

.jumbotron .line-divider{
	display: block;
	background-color: rgba(49,86,161);
	height: 4px;
	width: 200px;
	margin: 30px 0px;
}

.jumbotron .content{
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: 1.2em;
}

.jumbotron .jumbotron-padding{
	padding-right: 20%;
}

.jumbotron .video-padding{
	width: 200px;
	text-align: center;
	color: #fff;
	display: inline-block;
	margin: 0 auto;
	text-transform: uppercase;
}

.jumbotron .video-padding:hover{
	text-decoration: none;
}

.jumbotron .video-padding:hover i{
	transform: scale(1.2);
}

.jumbotron .video-padding h6{
	font-weight: 200;
	font-style: italic;
	font-size: .7em;	
}

.jumbotron .video-padding p{
	font-size: .8em;
}

.jumbotron .video-padding i{
	font-size: 6em;
	display: block;
	margin: 15px;
}

.jumbotron-intro .overlay{
	background: rgba(38,47,84,.7);
}

.jumbotron-intro{
	padding-top: 250px;
    padding-bottom: 100px;
}

.jumbotron .text-right .line-divider{
	margin-left: auto;
}

.jumbotron .text-center .line-divider{
	margin-left: auto;
	margin-right: auto;
}

.jumbotron .btn-primary{
	text-transform: uppercase;
	margin-top: 30px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 25px;
	padding: 12px 35px;
	font-size: .8em;
}

.jumbotron .btn-primary:hover{
	background-color: #fff;
	color: rgba(38,47,84,1);
}

/* TESTIMONIALES */

.testimonios{
	padding: 60px 0px;
}

.testimonios .card .card-body{
	padding-top: 30px;
}

.testimonios .card h3{
    font-weight: bold;
    font-family: 'Libre Baskerville', serif !important;
    color: rgb(38,47,84);
    font-size: 1.4em;
    margin-bottom: 5px;
}

.testimonios .card p{
	color: rgb(38,47,84);
	font-size: .8em;
}

.testimonial-box{
	background-color: #fff;
	color: rgb(38,47,84);
	position: relative;
	height: 300px;
	box-shadow: 5px 5px 15px -5px rgba(96,96,96,0.8);

	overflow-y: scroll;

	display: flex;
}

.testimonial-box img{
	width: 100%;
}

.testimonial-box .icon-quote-start{
	position: absolute;

	right: 20px;
	bottom: 20px;

	height: 50px;
	width: 50px;
}

.testimonial-box .icon-quote-end{
	position: absolute;
	top: 20px;
	left: 20px;

	height: 50px;
	width: 50px;
}

.testimonial-image{
	width: 30%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.testimonial-text{
	padding: 4em 8em;
	width: 70%;
	text-align: left;
}

.testimonial-text h5{
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 20px;
}

.testimonial-text p{
	margin-bottom: 0px;
}

.testimonios .swiper-container {
    width: 100%;
    height: 100%;

    padding-top: 65px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
}

.testimonios .swiper-wrapper{
	margin-bottom: 60px;
}

.testimonios .swiper-pagination{
	text-align: center;
}

.testimonios .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid rgb(38,47,84) !important;
    background: transparent !important;
    border-radius: 100%;
    margin-right: 5px;
    opacity: 1;
}

.testimonios .swiper-pagination-bullet-active{
	background-color: rgb(38,47,84) !important;
}

/* NOSOTROS */

.nosotros{
	position: relative;
	padding-top: 30px;
	padding-bottom: 70px;
}

.nosotros .special-text{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	padding-right: 50px;
	font-style: italic;
	margin-top: 50px;
}

.nosotros h4{
	color: rgb(49,86,161);
	margin-bottom: 20px;
	font-style: 1.3em;
}

.nosotros .btn-primary{
	background: rgb(38,47,84);
	padding: 18px 35px;

	position: absolute;
	left: 50%;
	bottom: -30px;
	z-index: 10;
	border-radius: 18px;
	border: none;

	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.nosotros ul li{
	display: block;
	padding: 4px 0px;
}

.nosotros ul li i{
	margin-right: 15px;
	color: rgb(49,86,161);
}

/* LINKS SUPERPUESTOS */

.good-links{
	position: relative;
	top: -220px;
	margin-bottom: -200px;
}

.blog-box{
	position: relative;
	overflow: hidden;
	min-height: 255px;
	height: 255px;
}

.blog-box .overlay{
	background-color: rgba(38,47,84,.5);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0px;
	left: 0px;
}

.blog-box .blog-box-content{
	position: absolute;
	width: 100%;
	padding: 20px 25px;
	bottom: 0px;
	left: 0px;
	color: #fff;
	z-index: 2;
}

.blog-box-content h4{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.3em;
	font-style: italic;
}

.blog-box-content a{
	font-family: 'Roboto', sans-serif;
	font-size: .8em;
	text-transform: uppercase;
	color: #fff;
}

.blog-box .blog-box-icons{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	width: 100%;
}

.blog-box-icons .icon{
	color: #fff;
	margin: 10px 20px;
	display: inline-block;
}

.blog-box-icons .badge{
    position: absolute;
    right: 0px;
    top: 13px;
    padding: 9px 11px;
    border-radius: 0px;
    background-color: rgb(38,47,84);
    color: #fff;
    text-transform: uppercase;
    font-size: .6em;
}

.blog-box .img-position{
	position: absolute;
	width: auto;
	height: 100%;

	top: 50%;
	left: 50%;

	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);

	transition: 2s ease-in-out all;
}

.blog-box:hover .img-position{
	transform: translate(-50%,-50%) scale(1.3);
	-webkit-transform: translate(-50%,-50%) scale(1.3);
	-moz-transform: translate(-50%,-50%) scale(1.3);
	-ms-transform: translate(-50%,-50%) scale(1.3);
	-o-transform: translate(-50%,-50%) scale(1.3);
}

.blog-box:hover .blog-box-content h4{
	margin-bottom: 15px;
}

.blog-box:hover .blog-box .overlay{
	background-color: rgba(38,47,84,.3);
}

/* BLOG */

.card-blog-detalle a{
	color: #f7f1e3;
}

.card-blog-detalle-body a{
	color: rgb(49,86,161);
}

.card-blog-detalle-body a:hover{
	color: #fff;
	text-decoration: none;
	background-color: rgb(49,86,161);
}

.card-blog-detalle{
	position: relative;
	background: #fff;
	margin-top: -100px;
	z-index: 2;
	border-radius: 5px;
    box-shadow: 0px 0px 20px -12px rgba(0,0,0,0.5);
}

.info-blog-detalle{
	background: #aaa69d;
    color: #fff;
    text-align: right;
    padding: 10px 20px;
    margin-bottom: 0px;
}

.info-blog-detalle ul li span{
	text-transform: uppercase;
	font-size: .7em;
	margin-right: 5px;
}

.badge-blog{
    text-transform: uppercase;
    font-size: .7em;
    margin-right: 5px;
    background-color: #fff;
    color: #aaa69d !important;
    padding: 5px 10px;
    border-radius: 15px;
    position: relative;
    top: -1px;
}

.card-blog-detalle-body{
	padding: 30px 100px;
}

.card-blog-detalle p{
	font-size: 1em;
	line-height: 1.6;
	font-weight: 200;
}

.card-blog-detalle h1,
.card-blog-detalle h2,
.card-blog-detalle h3,
.card-blog-detalle h4,
.card-blog-detalle h5{
	font-family: 'Libre Baskerville', serif;
	margin-top: 60px;
	margin-bottom: 30px;
}

.card-blog-detalle img{
	max-width: 100%;
	padding: 20px;
	margin: 30px auto;
	display: block;
	box-shadow: 0px 0px 20px -10px rgba(0,0,0,.4);
}

.blog-recommended{
	padding-bottom: 60px;
	margin-top: 20px;
}

.blog-recommended .big-title{
	margin-bottom: 40px;
}

.card-blog{
	position: relative;
	margin-bottom: 30px;
	text-decoration: none;
	color: inherit;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.card-blog:hover{
	text-decoration: none;
	color: rgba(38,47,84,1);
}

.card-blog .image-box{
	position: relative;
	overflow: hidden;
	height: 250px;
}

.card-blog .image-box img{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	z-index: 1;
	height: 120%;
	width: auto;
}

.card-blog .image-hover .btn-primary{
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 25px;
	padding: 12px 35px;
	font-size: .8em;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.card-blog .btn-primary:hover{
	background-color: #fff;
	color: rgba(38,47,84,1);
}

.card-blog .info-box{
	padding: 25px 35px;
}

.card-blog .image-box .image-hover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(38,47,84,.7);
	color: #fff;
	text-align: center;
	padding: 40px;

	opacity: 0;
	z-index: 10;
	top: 0px;
	left: 0px;
}

.card-blog:hover .image-hover{
	opacity: 1;
}

.card-blog:hover .info-box{
	box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.3);
}

.card-blog .info-box h6{
	font-size: .8em;
	font-family: 'Roboto', sans-serif;
	display: block;
	margin-bottom: 5px;
}

.card-blog .info-box h6 span{
	text-transform: uppercase;
	margin-right: 5px;
}

.card-blog .info-box h2{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.6em;
	margin-bottom: 30px;
}

.card-blog .info-box p{
	color: #333333;
	opacity: .7;
	margin-bottom: 30px;
}

.autor-blog{
	width: 170px;
	text-align: left;
}

.autor-blog span{
	text-transform: uppercase;
	font-size: .7em;
	margin-bottom: 10px;
}

.autor-blog a{
	color: #f7f1e3;
}

.autor-center-wrap{
	width: 180px;
	display: block;
	margin: 0 auto;
}


.ubr-box{
	position: relative;
	top: -44px;
}

.ubr-box .ubr-box-top{
	background-color: rgb(38,47,84);
	display: block;
	padding: 15px 0px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: .7em;
	margin-bottom: 0px;
	height: 44px;
}

.ubr-box .ubr-box-content{
	padding: 60px 50px;
	text-align: center;
	background-color: rgb(49,86,161);
	color: #fff;
	min-height: 255px;
	height: 255px;
	overflow: hidden;
}

.ubr-box-content h4{
	font-family: 'Libre Baskerville', serif;
	margin-bottom: 30px;
}

.ubr-box-content .btn-primary{
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 13px 35px;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: .8em;
}

.ubr-box-content .btn-primary:hover{
	background: #fff;
	border: 1px solid #fff;
	color: rgb(49,86,161);
}


/* TITLE STYLES */

.big-title{
	margin-bottom: 40px;
	text-align: center;
	font-weight: bold;
	font-family: 'Libre Baskerville', serif !important;
	color: rgb(38,47,84);
	font-size: 1.7em;
}

.big-title h3{
	font-size: 1.4em;
	font-weight: bolder;
}

.big-title .line-divider{
	display: block;
	background-color: rgb(38,47,84);
	height: 4px;
	width: 200px;
	margin: 30px 0px;
}

.big-title-big .line-divider{
	margin: 20px auto;
}

.big-title .uppercase-title{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: .5em;
	margin-top: 60px;
}

.big-title .content{
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: .6em;
	padding: 10px 20%;
	margin-bottom: 30px;
}

/* NOSOTROS */

.nosotros-content{

}

.nosotros-content .map{
	text-align: center;
	padding: 50px 0px;
	margin-bottom: 30px;
}

.info-text-box{
	padding: 130px 0px;
}

.info-text-box .text-box{
	padding: 0px 50px;
}

.text-box .big-num{
	font-family: 'Libre Baskerville', serif !important;
	font-size: 3em;
	margin-bottom: 10px;
	margin-left: -5px;
	color: rgb(96,96,96);
}

.text-box h4{
	font-family: 'Libre Baskerville', serif !important;
	font-size: 1.8em;
	margin-bottom: 20px;
	padding-right: 30%;
	color: rgb(38,47,84);
	letter-spacing: -1px;
}

.text-box p, .text-box li{
	color: rgb(96,96,96);
}

/* CONTACTO */

.contact-boxes{
	position: relative;
	top: -90px;
	margin-bottom: -40px;
}

.card{
	border: none;
	border-radius: 15px;
	position: relative;
}

.card .card-body{
	padding: 3em 3em;
}

.form-group .form-control{
	background-color: rgb(234,234,234);
	padding: 15px 20px;
	color: #333;
	border:none;
	height: auto;
	border-radius: 15px;
}

.btn-contact{
	position: absolute;
	left: 50%;
	bottom: -30px;

	background-color: rgb(49,86,161);
	color: #fff;
	text-transform: uppercase;
	font-size: .8em;
	padding: 18px 80px;
	border: none;
	border-radius: 0px;

	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.btn-contact:hover{
	color: #fff;
	background: rgb(38,47,84);
}

/* MEDIOS */

.medios{
	background-color: rgb(234,234,234);
	padding: 50px;
	text-align: center;
}

.medios li{
	margin: 0px 20px;
}

.medios img{
	width: 200px;
	margin: 0 auto;
}

/* FOOTER */

footer{
	background-color: rgb(38,47,84);
	color: #fff;
	padding: 80px 0px;
}

footer .logo{
	width: 230px;
    height: 120px;
    position: relative;
    top: -30px;
}

footer h5{
	text-transform: uppercase;
	font-size: 1em;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

footer ul li a{
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 0px;
	font-size: .8em;
}

.post-footer{
	background-color: rgb(49,86,161);
	color: #fff;
	padding-top: 16px;
	padding-bottom: 12px;
	text-transform: uppercase;
	font-size: .8em;
}

.post-footer a{
	color: #fff;
}


/* Nav Styles */
.responsive-nav{
    position: fixed;
    display: none;
    margin-top: 0px;
    height: 70px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 99;

    background-color: rgba(38,47,84);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.3);
    padding: 0px;
}

.responsive-nav .logo{
    margin-left: 30px;
    width: 170px;
    height: 70px;
}

.responsive-nav .btn-menu svg {
    width: 30px;
    height: 70px;
    top: 0px;
}

.responsive-nav .btn-menu{
    position: absolute;
    top: 0px;
    line-height: 70px;
    right: 30px;
}

.spot-mentoor-dimensions{
    width: 100% !important;
    height: 400px !important;
}

.svg-icon{
    width: 25px;
    display: inline-block;
    position: relative;
    top: -2px;
    fill: #000;
}

#label{
    color: green;
    font-size: 1.2em;
    text-align: center !important;
    display: block;
    margin-bottom: 30px;
}

/* ADMISIONES */
.estadisticas{
	background: url(https://source.unsplash.com/random/1920x1080);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	color: #000;
	padding-top: 50px;
    padding-bottom: 50px;
}

.estadisticas .overlay{
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 100%;
	opacity: .9;
	z-index: 1;
	top: 0px;
	left: 0px;
}

.estadisticas .row{
	position: relative;
	z-index: 2;
}

.estadisticas h4{
	font-family: 'Roboto', sans-serif;
	color: rgb(49,86,161);
	font-size: 2.3em;
}

.estadisticas h6{
	font-family: 'Libre Baskerville', serif !important;
	color: #000;
	font-size: .8em;
}

/* MENSAJE DIRECTOR */
.mensaje-director{
	background: url('../img/mensaje_director.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.mensaje-director .director-box{
	background-color: rgba(38,47,84,.7);
	color: #fff;
	padding: 80px 50px;
}

.mensaje-director .video-padding{
	width: 200px;
	text-align: center;
	color: #fff;
	display: inline-block;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);

	text-transform: uppercase;
}

.mensaje-director .video-padding:hover{
	text-decoration: none;
}

.mensaje-director .video-padding:hover i{
	transform: scale(1.2);
}

.mensaje-director .video-padding h6{
	font-weight: 200;
	font-style: italic;
	font-size: .7em;	
}

.mensaje-director .video-padding p{
	font-size: .8em;
}

.mensaje-director .video-padding i{
	font-size: 6em;
	display: block;
	margin: 15px;
}

.director-box .line-divider{
	height: 2px;
	background: #fff;
	display: block;
	width: 20%;
	margin: 20px 0px;
	margin-bottom: 40px;
}

.director-box h3{
	font-family: 'Libre Baskerville', serif !important;
	font-size: 2.2em;
}

.director-box p{
	font-family: 'Roboto', sans-serif;
}

.director-box h5{
	margin-top: 30px;
	margin-bottom: 40px;
}

.director-box .firma{
	text-align: right;
	padding-top: 20px;
}

.director-box .firma small{
	font-size: .6em;
	margin-top: -3px;
	display: block;
}

/* LIBROS */

.libros{
	background: url(../img/fondo-libro.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 120px 0px;

	color: #000;
	position: relative;
	overflow: hidden;
}

.libros .overlay{
	background-color: #fff;
	height: 100%;
	width: 100%;
	opacity: .7;
	position: absolute;
	top: 0px;
	left: 0px;
}

.book_imagen{
	width: 150px;
	margin-bottom: 50px;
}

.libros h4{
	margin-bottom: 30px;
	font-family: 'Libre Baskerville', serif !important;

	padding: 0px 100px;
}

.libros p{
	padding: 0px 120px;
	font-size: .9em;
}

.libros .btn-mercadopago{
	border-radius: 0px;
	padding: 14px 30px;
	background-color: #1e3791;
	color: #fff;
	text-transform: uppercase;
	font-size: .8em;
	margin-top: 30px;
}

.libros .btn-mercadopago:hover{
  background-color: #0b1b47;
  color: #fff !important;
}

.custom-icon-pago{
	background: url(../img/icon-mercadopago.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 87px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    top: 9px;
    position: relative;
    margin-top: -10px;
}


/* MAESTROS */

.maestros-box{
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.maestros-box .info-box{
	text-align: center;
	padding: 30px;
}

.maestros-box .info-box h4{
	font-family: 'Libre Baskerville', serif !important;
	font-size: 1.6em;
}

.maestros-box .info-box p{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	margin: 10px 0px;
}

.maestros-box .image-box{
	position: relative;
}

.maestros-box .info-hover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(38,47,84,.7);
	color: #fff;
	text-align: center;
	padding: 40px;

	opacity: 0;
}

.maestros-box .info-hover:hover{
	opacity: 1;
}


.maestros-box .info-hover i{
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}

.maestros-box .info-hover:hover i{
	transform: translate(-50%,-50%) scale(4);
	-webkit-transform: translate(-50%,-50%) scale(4);
	-moz-transform: translate(-50%,-50%) scale(4);
	-ms-transform: translate(-50%,-50%) scale(4);
	-o-transform: translate(-50%,-50%) scale(4);
}

.maestros-box .info-hover p{
	position: absolute;
	width: 100%;
	padding: 0px 30px;
	bottom: 20px;
	left: 0px;
	font-size: .8em;
}

/* LEGALES TEXTOS */

.legales-title{
	display: block;
	text-align: center;
	font-family: 'Libre Baskerville', serif !important;
	font-size: 3em;
	padding-top: 280px;
	padding-bottom: 60px;
	background: white;
}

.legales-content{
	opacity: .8;
	padding: 40px 0px;
}

.update-time{
	margin: 15px 0px;
	font-size: .8em;
	display: block;
	padding-bottom: 20px;
}

.update-time span{
	text-transform: uppercase;
}

/* GALERIA */

.card-galeria{
	position: relative;
	overflow: hidden;
	border-radius: 0px;
}

.card-galeria-full{
	height: 450px;
}

.card-galeria-full img{
	position: absolute;
	height: 100%;
	width: auto !important;

	top: 50%;
	left: 50%;

	transform: translate(-50%,-50%);
}

.card-galeria img{
	width: 100%;

	transition: ease-in-out all 2s;
}

.card-galeria:hover img{
	transform: scale(1.3);
}

.card-galeria-full:hover img{
	transform: translate(-50%,-50%) scale(1.3);
}

.card-galeria:hover .card-galeria-content p{
	opacity: 1;
	margin-bottom: 20px;
}

.card-galeria:hover .card-galeria-content h4{
	opacity: 1;
	margin-bottom: 10px;
}

.card-galeria-content{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 20px 30px;
	z-index: 2;
}

.card-galeria-content h4{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.5em;
	font-style: italic;
	color: #fff;
	margin-bottom: 50px;
}

.card-galeria-content p{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #fff;

	position: relative;
	opacity: 0;
	margin-bottom: -50px;
}

.card-galeria .more-images{
	position: absolute;
	top: 30px;
	right: 0px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: .7em;
	font-weight: 200;
	background-color:rgb(38,47,84);
	color: #fff;
	text-decoration: none;
}

.card-galeria:hover .more-images{
	padding-right: 35px;
}

.more-images:hover{
	text-decoration: none;
}

.galeria-title{
	display: block;
	text-align: center;
	font-family: 'Libre Baskerville', serif !important;
	font-size: 3em;
	padding-top: 280px;
	padding-bottom: 10px;
	background: white;
}

.galeria-body{
	padding-bottom: 60px;
}

/* CURSOS */

.cursos,
.blog{
	margin-top: 50px;
	margin-bottom: 80px;
}

.card-cursos{
	position: relative;
	margin-bottom: 30px;
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

.card-cursos:hover{
	text-decoration: none;
	color: rgba(38,47,84,1);
}

.card-cursos .image-box{
	position: relative;
	overflow: hidden;
}

.card-cursos .image-hover .btn-primary{
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 25px;
	padding: 12px 35px;
	font-size: .8em;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.card-cursos .btn-primary:hover{
	background-color: #fff;
	color: rgba(38,47,84,1);
}

.card-cursos .info-box{
	padding: 25px 35px;
}

.card-cursos .image-box .image-hover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(38,47,84,.7);
	color: #fff;
	text-align: center;
	padding: 40px;

	opacity: 0;
	z-index: 10;
	top: 0px;
	left: 0px;
}

.card-cursos:hover .image-hover{
	opacity: 1;
}

.card-cursos:hover .info-box{
	box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.3);
}

.card-cursos .info-box h6{
	font-size: .8em;
	color: #ee5253;
	font-family: 'Libre Baskerville', serif !important;
	display: block;
	margin-bottom: 5px;
}

.card-cursos .info-box h2{
	font-family: 'Roboto', sans-serif;
	font-size: 1.6em;
	margin-bottom: 20px;
}

.card-cursos .info-box .media .media-heading{
	font-size: 1em;
	color: #333333;
	opacity: .7;
}

.card-cursos .info-box .media p{
	font-size: .8em;
	color: #333333;
	opacity: .7;
	margin-bottom: 0px;
}

.card-cursos .info-box .media img{
	margin-right: 10px;
	border-radius: 100%;
}

.card-cursos .info-box hr{
	margin: 10px 0px;
	width: 100%;
	display: block;
}

.card-cursos .info-box .list-inline{
	opacity: .7;
	margin-bottom: 0px;
	font-size: .8em;
}

.card-cursos .info-box .list-unstyled span{
	opacity: .7;
	display: block;
	margin-bottom: 5px;
	font-size: .8em;
	text-transform: uppercase;
}

.card-cursos .info-box .list-inline li:last-child{
	border-left: 1px solid rgba(0,0,0,0.3);
	padding-left: 10px;
}

.card-cursos .info-box .media{
	margin-bottom: 15px;
}

.card-cursos .position-bottom{
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	padding: 15px 35px;
}

/* DETALLE DE CURSOS */

.cursos-detalle-top{
	position: relative;
	z-index: 999;
	/*background-color: rgb(234,234,234);*/
}

.cursos-detalle-top .col-md-8{
	background-color: rgba(234,234,234,1);
    border-radius: 0px 130px 0px 0px;
}

.cursos-detalle-top .media{
	padding: 30px;
}

.cursos-detalle-top .media-heading{
	color: rgb(38,47,84);
	font-weight: bolder;
	font-size: 1.2em;
}

.cursos-detalle-top .media i{
	margin-right: 15px;
	color: rgb(38,47,84);
	font-size: 1.6em;
}

.cursos-detalle-top .media p{
	margin-bottom: 0px;
	font-size: 1.6em;
	color: #000;
	opacity: .7;
	font-family: 'Libre Baskerville', serif !important;
	font-style: italic;
	word-break: break-word;
}

.side-cursos{
	padding-right: 50px;
	padding-left: 35px;
}

.side-cursos .list-group-item{
	padding: 10px 0px;
	border-right: none;
	border-left: none;
}

.side-cursos .btn,
.list-buttons .btn{
	padding: 12px 30px;
	text-align: center;
	font-size: .8em;
	color: #fff;
	display: block;
	border-radius: 0px;
	margin-bottom: 0px;
}

.list-buttons .btn{
	padding: 25px 0px;
}

.side-cursos .btn i,
.list-buttons .btn i{
	margin-right: 10px;
}

.side-cursos .btn-dark-blue,
.list-buttons .btn-dark-blue{
	background-color: rgb(26,33,62);
}

.side-cursos .btn-light-blue,
.list-buttons .btn-light-blue{
	background-color: rgb(49,86,161);
}

.cursos-detalle-box{
	position: absolute;
	bottom: 0px;
	height: auto;
	background-color: rgb(38,47,84);
}

.cursos-detalle-box-hidden{
	position: static;
	background: red;
	padding: 150px 30px;
	width: 400px;
	margin-bottom: -130px;
	visibility: hidden;
}

.cursos-detalle-box-line{
	position: absolute;
	background: rgb(234,234,234);
    height: 150px;
    bottom: 0px;
    width: 100%;
}

.cursos-detalle-box h6{
	position: absolute;
	width: 100%;
	color: #fff;
	top: -50px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .8em;
	z-index:2; 
}

.cursos-detalle-box .content-box{
	color: #fff;
	padding: 40px 40px;
}

.cursos-detalle-box .content-box h3{
	font-family: 'Libre Baskerville', serif !important;
	font-size: 2.3em;
	color: #fff;
	margin-bottom: 0px;
}

.cursos-detalle-box .line-divider{
	background-color: #fff;
	height: 2px;
	display: block;
	width: 60%;
	margin: 30px 0px;
}

.cursos-detalle-box .content-box p{
	font-family: 'Libre Baskerville', serif !important;
	font-style: italic;
	overflow-x: scroll;
	height: 150px;
}

.responsive-nav{
	display: none;
}

.acreditacion{
	background: #aaa69d;
	color: #fff;
	text-align: right;
	padding: 10px 0px;
	margin-bottom: 40px;
}

.acreditacion h3{
	font-size: 1em;
	display: block;
	line-height: 30px;
	margin-bottom: 0px;
	padding-right: 30px;
}

.acreditacion span{
	text-transform: uppercase;
	font-size: .8em;
	margin-right: 10px;
	background-color: #fff;
	color: #aaa69d;
	padding: 5px 10px;
}

/* EVENTOS */

.card-evento{
	display:block;
	overflow: hidden;
	border-radius: 0px;
}

.card-evento .date-box{
	background-color: rgb(38,47,84);
	color: #fff;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
}

.date-box h4{
	margin: 0;
	font-size: 3em;
}

.date-box h6{
	margin: 0;
}

.card-evento .evento-info{
	padding: 1em 2em;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.3);
	height: auto;
	overflow-y: scroll; 
}

.card-evento .evento-info h5{
	text-transform: uppercase;
	font-size: .8em;
	margin-bottom: 10px;
	color: rgb(49,86,161);
}

.card-evento .evento-info h2{
	font-size: 1.3em;
	margin-bottom: 10px;
	margin-top: 0px;
}

.card-evento .evento-info .description{
	opacity: .6;
	margin-bottom: 10px !important;
}

.card-evento .evento-info p{
	margin-bottom: 0px;
	opacity: .6;
}

.card-evento .evento-info ul{
	font-size: .8em;
	color: rgb(38,47,84);
	margin: 0;
	margin-top: 10px;
}

.card-columns{
	columns: 2;
}

.nav-pills{
	border-left: 1px solid rgba(0,0,0,.4);
	padding: 0 10px;
}

.nav-pills li{
	display: block;
	width: 100%;
}

.nav-pills li a{
	display: block;
	text-align: left;
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: .8em;
	color: rgba(0,0,0,.7);
}

.nav-pills li a:hover{
	background-color: rgb(234,234,234);
	text-decoration: none;
}

.nav-pills .main-btn a{
	background-color: rgb(38,47,84);
	color: #fff;
	padding: 20px 15px;
}

.nav-pills .main-btn a:hover{
	padding: 20px 30px;
	background-color: rgb(38,47,84);
	color: #fff;
}

.no-event-text{
	width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}

/* MODAL VIDEO */

#modalVideo .modal-dialog #spot-ubr{
	margin: 0px;
}

#modalVideo .modal-dialog .close{
	position: absolute;
    bottom: -20px;
    right: -30px;
    z-index: 10;
    background: #fff;
    padding: 15px 19px;
    border-radius: 100%;
    opacity: 1;
}

#modalVideo .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
}

#modalVideo .modal-content{
	width: 700px;
}

#spot-ubr{
	width: 700px;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
	height: 370px;
}

.video-js .vjs-big-play-button{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);

	line-height: 2.9em;
	height: 3em;
	width: 3em;
	border-radius: 100%;
	/*border: 5px solid transparent;*/
	/*box-shadow: 0px 0px 10px rgba(255,255,255,1);*/

	background-color: #fff;
	color: #333333;
}

/*-----------------------*/
/*-----------------------*/
/*-------  SEARCH -------*/
/*-----------------------*/
/*-----------------------*/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
    z-index: 999999;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 40px;
    padding: 10px 60px;
    font-size: 1.2em;
}

#search .btn-primary{
	background-color: rgb(38,47,84);
	border-color: rgb(38,47,84);
	color: #fff;
}

#search .close {
    position: fixed;
    top: 30px;
    right: 40px;
    color: #fff;
	background-color: rgb(38,47,84);
	border-color: rgb(38,47,84);
	opacity: 1;
	width: 60px;
	height: 60px;
	line-height: 25px;
	font-size: 30px;
	border-radius: 100%;
}

.search-btn{
	background-color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	text-align: center;
	display: inline-block;
	line-height: 35px;
	margin-left: 10px;
}

.search-btn i{
	line-height: 35px;
	color: rgba(49,86,161);
}

.search-btn:hover{
	background-color: rgba(49,86,161);
}

.search-btn:hover i{
	color: #fff;
}

.counter-events{
    font-size: .8em;
    padding: 4px 6px 3px 6px;
    position: relative;
    top: -3px;
}

.btn-float{
	height: 80px;
	width: 80px;
	background-color: black;
	border-radius: 100%;
	text-align: center;
	line-height: 80px;
	font-size: 2.4em;
	color: #fff;
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.4);

	position: fixed;
	z-index: 99;

	bottom: 40px;
}

.btn-whatsapp{
	background-color: rgb(126,215,119);
	left: 40px;
}

.btn-messenger{
	background-color: rgb(96,142,245);
	right: 130px;
}

.btn-float:hover{
	color: #fff;

	transform: scale(1.2);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);
}

.hidden-md{
	display: none;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {
	.mensaje-director{
		background: url('../img/mensaje_director_res.jpg');
		background-size: contain;
		background-position: top center;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
	}

    .hidden-sm{
        display: none;
    }

    .hidden-md{
    	display: block;
    }

    .card-columns{
    	columns: 1 !important;
    }

    .nav-wrap{
        display: none;
    }

    .responsive-nav{
        display: block;
    }

    .jumbotron{
    	padding-top: calc(60% - 100px);
    	text-align: center;
    	background-attachment: scroll !important;
    }

    .jumbotron-main{
    	padding-top: 0px;
    	height: 250px;
    }

    .jumbotron .jumbotron-padding{
    	padding: 0px;
    }

    .jumbotron .line-divider{
    	margin: 30px auto;
    }

    .jumbotron .video-padding{
    	margin-top: 100px;
    }

    .ubr-box{
    	top: 0px;
    	margin-top: 15px;
    }

    .blog-box{
    	margin-bottom: 15px;
    }

    .nosotros{
    	text-align: center;
    	padding: 0px 50px;
    }

    .nosotros .pr-5{
    	padding-right: 0px !important;
    }

    .nosotros .special-text{
    	padding-right: 0px;
    }

    .estadisticas .col-md-3{
    	margin-bottom: 40px;
    }

    footer{
    	text-align: center;
    }

    footer .col-md-4{
    	margin-top: 40px;
    }

    .post-footer{
    	text-align: center;
    }

    .post-footer ul{
    	margin-top: 30px;
    }

    .nosotros{
    	padding-bottom: 80px;
    }

    .nosotros .btn-primary{
    	width: 90%;
    }

    .testimonial-text{
    	padding: 0px 25px;
    }

    .testimonial-box .icon-quote-end{
    	width: 25px;
    	height: 25px;
    }

    .testimonial-box .icon-quote-start{
    	width: 25px;
    	height: 25px;
    }

    .medios img{
    	margin-bottom: 40px;
    }

    .card-evento .evento-info{
    	margin-bottom: 30px;
		height: auto !important;
		max-height: initial !important;
	}

	.card-evento .date-box{
		padding-bottom: 20px;
	}

	.nav-pills{
		margin-top: 40px;
	}

	.cursos-detalle-box{
		position: relative;
		margin-top: -250px;
		margin-bottom: 30px;
	}

	.mensaje-director{
		margin-top: 0px !important;
		background-attachment: scroll !important;
	}

	.director-btn-wrap{
		height: 500px;
	}

	.mensaje-director .director-box{
		background-color: rgba(38,47,84,1);
	}

	.card-blog-detalle-body{
		padding: 30px 40px;
	}

	.btn-contact{
		position: relative;
	}

	.legales-title,
	.galeria-title{
		font-size: 2em;
		padding-top: 150px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.gallery-showcase .card-columns{
		columns: 1 !important;
	}

	.title-blogs{
		font-family: 'Roboto', sans-serif;
		font-weight: 200;
		letter-spacing: -1px;
		font-size: 1.4em;
		margin-top: 50px;
		margin-bottom: 30px;
		padding-bottom: 15px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	.good-links{
	    position: relative;
	    top: -100px;
	    margin-bottom: -60px;
	}

	.good-links .ubr-box .ubr-box-content{
	    padding: 15px 0px;
	    min-height: auto !important;
	    height: auto !important;
	}

	.good-links .ubr-box .btn-primary{
    	padding: 7px 15px;
	}

	.cursos-detalle-box-line {
	    height: 700px !important;
	}

}
