#sidebar-wrapper{
    position: fixed;
    height: 100%;
    z-index: 1000;
    width: 350px;

    background-color: #fff;
    color: rgb(38,47,84);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: -350px;

    overflow-y: scroll;
    overflow-x: hidden !important;
}

.sidebar-nav{
    position: relative;
    height: 100%;
}

/*
.menu-elements a{
    font-size: 2rem;
    color: #fff;
    padding: 10px 0px;
    display: block;
}

.menu-elements a:hover{
    text-decoration: none;

    background: rgb(52,91,220);
    background: -moz-linear-gradient(left, rgba(52,91,220,1) 0%, rgba(111,187,239,1) 100%);
    background: -webkit-linear-gradient(left, rgba(52,91,220,1) 0%,rgba(111,187,239,1) 100%);
    background: linear-gradient(to right, rgba(52,91,220,1) 0%,rgba(111,187,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#345bdc', endColorstr='#6fbbef',GradientType=1 );s
}
*/

body.toggled #sidebar-wrapper{
    transform: translate3d(350px, 0, 0);
    -webkit-transform: translate3d(350px, 0, 0);
    -moz-transform: translate3d(350px, 0, 0);
    -ms-transform: translate3d(350px, 0, 0);
    -o-transform: translate3d(350px, 0, 0);
}

.sidebar-overlay{
    background: rgba(0,0,0,.4);
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 150%;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;


    transform: translate3d(-350px, 0, 0);
    -webkit-transform: translate3d(-350px, 0, 0);
    -moz-transform: translate3d(-350px, 0, 0);
    -ms-transform: translate3d(-350px, 0, 0);
    -o-transform: translate3d(-350px, 0, 0);
}

body.toggled {
    overflow-y: hidden;
}

body.toggled .sidebar-overlay{
    opacity:1;
    display: block;
    transform: translateX(0);
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    z-index: 201;
}

body.toggled .push-when-toggled{
    transform: translate3d(350px, 0, 0);
    -webkit-transform: translate3d(350px, 0, 0);
    -moz-transform: translate3d(350px, 0, 0);
    -ms-transform: translate3d(350px, 0, 0);
    -o-transform: translate3d(350px, 0, 0);
}

.push-when-toggled{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.brand-header .close-btn{
    font-size: 2em;
    color: rgb(38,47,84);
    position: absolute;
    right: 33px;
    top: 10px;
    z-index: 10;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/*----------------sidebar-wrapper----------------*/

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav ul li {
    padding: 12px 0px;
}

.sidebar-nav ul li:hover{
    background: rgb(234,234,234);
}


.sidebar-nav a {
  text-decoration: none;
  color: rgb(38,47,84);
}

.sidebar-dropdown.active{
    background: rgb(234,234,234);
}

/*----------------sidebar-content----------------*/

.sidebar-content {
    height: 100%;
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-nav .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-nav .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-nav .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-nav .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-nav .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-nav .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-nav .sidebar-header .user-info {
  float: left;
}

.sidebar-nav .sidebar-header .user-info > span {
  display: block;
}

.sidebar-nav .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-nav .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-nav .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-nav .sidebar-search{
    padding-top: 90px;
}

.sidebar-nav .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-nav .sidebar-menu {
  padding-bottom: 80px;
}

.sidebar-nav .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-nav .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-nav .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-nav .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-nav .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-nav .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-nav .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-nav .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-nav .sidebar-menu ul li a span.label,
.sidebar-nav .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-nav .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-nav .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-nav .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-nav .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

.special-button{
    background-color: rgb(38,47,84);
    color: #fff;
}

.special-button a{
    color: #fff;
}