.tp-caption.Slider-2-Title, .Slider-2-Title {
color:#ffffff;
color-transparency:1;
font-size:58px;
line-height:70px;
font-weight:700;
font-style:normal;
font-family:Montserrat;
padding:0 0 0 0;
text-decoration:none;
text-align:left;
background-color:transparent;
background-transparency:1;
border-color:transparent;
border-transparency:1;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
z:0;
skewx:0;
skewy:0;
scalex:1;
scaley:1;
opacity:1;
xrotate:0;
yrotate:0;
2d_rotation:0;
2d_origin_x:50;
2d_origin_y:50;
pers:600;
corner_left:nothing;
corner_right:nothing;
0:;
type:text;
}

.tp-caption.Slider-2-Subtitle, .Slider-2-Subtitle {
color:#ffffff;
color-transparency:1;
font-size:26px;
line-height:40px;
font-weight:700;
font-style:normal;
font-family:Montserrat;
padding:0 0 0 0;
text-decoration:none;
text-align:left;
background-color:transparent;
background-transparency:1;
border-color:transparent;
border-transparency:1;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
z:0;
skewx:0;
skewy:0;
scalex:1;
scaley:1;
opacity:1;
xrotate:0;
yrotate:0;
2d_rotation:0;
2d_origin_x:50;
2d_origin_y:50;
pers:600;
corner_left:nothing;
corner_right:nothing;
0:;
type:text;
}

.tp-caption.whiteline_long, .whiteline_long {
line-height:1px;
background-color:transparent;
text-decoration:none;
border-width:2px 0px 0px 0px;
border-color:rgb(255, 255, 255) rgb(34, 34, 34) rgb(34, 34, 34) rgb(34, 34, 34);
border-style:solid none none none;
min-width:660px;
type:text;
}

.tp-caption.fullgradient_overlay, .fullgradient_overlay {
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
filter:progid;
width:100%;
height:100%;
type:text;
}

.tp-caption.Slider-1-Title, .Slider-1-Title {
color:#ffffff;
color-transparency:1;
font-size:60px;
line-height:70px;
font-weight:700;
font-style:normal;
font-family:Montserrat;
padding:0 0 0 0;
text-decoration:none;
text-align:left;
background-color:transparent;
background-transparency:1;
border-color:transparent;
border-transparency:1;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
z:0;
skewx:0;
skewy:0;
scalex:1;
scaley:1;
opacity:1;
xrotate:0;
yrotate:0;
2d_rotation:0;
2d_origin_x:50;
2d_origin_y:50;
pers:600;
corner_left:nothing;
corner_right:nothing;
parallax:-;
0:;
type:text;
}

.tp-caption.Slider-1-Subtitle, .Slider-1-Subtitle {
color:#ffffff;
color-transparency:1;
font-size:30px;
line-height:40px;
font-weight:500;
font-style:normal;
font-family:Montserrat;
padding:0 0 0 0;
text-decoration:none;
text-align:left;
background-color:transparent;
background-transparency:1;
border-color:transparent;
border-transparency:1;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
z:0;
skewx:0;
skewy:0;
scalex:1;
scaley:1;
opacity:1;
xrotate:0;
yrotate:0;
2d_rotation:0;
2d_origin_x:50;
2d_origin_y:50;
pers:600;
corner_left:nothing;
corner_right:nothing;
parallax:-;
0:;
type:text;
}

