/*
font-family: 'Libre Baskerville', serif;
font-family: 'Roboto', sans-serif;
*/

button, a, label, li,p{
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
	font-family: 'Libre Baskerville', serif;
}

#info{
	color: green;
	text-align: center;
	font-size: 1em;
	position: absolute;
	top: 48%;
	background-color: #fff;
	transform: translate(-50%,-50%);
	width: 80%;
	left: 50%;
	padding: 30px 30px;
	box-shadow: 0px 0px 20px 0px black;
	border-radius: 10px;
	display: none;
}

.jumbotron{
	background: url(../img/fondo.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;

	position: relative;
	padding-top: 60px;
	padding-bottom: 80px;
	overflow: hidden;
	margin-bottom: 0px;
}

.jumbotron .overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #313d66;
	opacity: .8;
	z-index: 2;
}

.jumbotron .container{
	position: relative;
	z-index: 3;
}

.jumbotron h2{
	font-size: 2.6em;
	color: #fff;
	margin-bottom: 15px;
	font-family: 'Libre Baskerville', serif;
}

.jumbotron p{
	font-size: 1.5em;
	color: #fff;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
}

.jumbotron .card{
	border-radius: 8px;
	padding-top: 40px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
	margin-top: 80px;
	box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.8);
}

.jumbotron .card .arrow-icon{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 100%;
	border: 1px solid #fff;
	background-color: #3b6b9b;
	color: #fff;
	box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.8);

	position: absolute;
	top: -25px;
	left: 50%;

	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.card .btn{
	width: 100%;
	text-transform: uppercase;
	color: #fff;
	padding: 20px 35px;
	background-color: #3b6b9b;
	border: none;
	border-radius: 8px;
}

.parallax-separator .btn-primary{
	text-transform: uppercase;
	color: #fff;
	padding: 20px 35px;
	background-color: #3b6b9b;
	border: none;
	border-radius: 8px;
}

.form-control{
	background-color: #d9d9d9;
	color: #1e1e1e;
	border-radius: 3px;
	border: none;
	padding: 25px 15px;
}

.custom-select{
	padding: 0px 15px;
}

.video_play {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

#spot-ubr{
	width: 100%;
	height: 410px;
	margin-bottom: 60px;
}

.logo {
    background: url("../img/logoblanco.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 270px;
	height: 125px;
    margin: 0;
    display: inline-block;
    margin-left: -15px;

}

.hide-text {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}

.nav{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #fff;
}

.date-separator{
	background-color: #1e1e1e;
	padding: 25px 0px;
	color: #fff;
}

.date-separator h3{
	font-size: 2em;
	margin-bottom: 5px;
}

.date-separator p{
	font-size: 1.5em;
	font-weight: bolder;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.date-separator i{
	font-size: 2em;
}

.parallax-1{
	background: url(../img/fondo.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}

.parallax-2{
	background: url(../img/parallax-2.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;		
}

.parallax-separator{
	position: relative;
	padding: 100px 0px;
	overflow: hidden;
	margin-bottom: 0px;
	color: #fff;
	text-align: center;
}

.parallax-separator h3{
	font-size: 2.3em;
	margin-bottom: 30px;
}

.parallax-separator p{
	font-weight: bolder;
	font-size: 1.3em;
	padding: 0px 20px;
}

.parallax-separator .btn-secondary{
	padding: 12px 50px;
	font-size: .8em;
	background-color: rgba(50,86,161,1);
	text-transform: uppercase;
	color: #fff;
	border:2px solid #fff;
	border-radius: 12px;
	margin-top: 60px;
}

.parallax-separator h3 strong{
	margin-top: 40px;
	font-size: 1.6em;
	display: block;
}

.parallax-separator .overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .7;
	z-index: 2;
}

.parallax-separator .container{
	position: relative;
	z-index: 3;
}

.articles-separator{
	padding: 60px 0px;
}

.articles-separator p{
	font-size: 1em;
	color: #7f8c8d;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
}

.reasons-separator{
	padding: 60px 0px;
}

.reasons-separator h3{
	font-size: 1.8em;
	margin-bottom: 60px;
	font-weight: bold;
}

.reasons-separator .box{
	padding: 0px 40px;
}

.reasons-separator .box .icon img{
	width: 200px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.jcz-separator{
	background-color: rgba(50,86,161,1);
	color: #fff;
	margin-top: 100px;
}

.jcz-separator .image-jcz{
	position: absolute;
	top: -75px;
	border-radius: 100%;
	overflow: hidden;
	left: 50%;
	transform: translateX(-50%);
	border: 15px solid rgba(50,86,161,1);
}

.jcz-separator h3{
	text-align: center;
	padding: 30px 120px;
}

.jcz-separator li{
	padding: 15px 0px;
	display: block;
	font-size: 1.1em;
}

.jcz-separator .libro{
	border: 1px solid #fff;
	padding: 10px;
	height: 200px;
}

footer{
	background: #313d66;
	padding: 5px 0px;
	text-align: center;
}

footer .logo{
	width: 100%;
	height: 80px;
	margin-bottom: 0px;
	display: block;
}

@media(max-width:576px){
	.jumbotron{
		text-align: center;
	}

	.jumbotron h2{
		font-size: 1.8em;
	}

	.jumbotron p{
		font-size: 1.3em;
	}

	.jumbotron .mr-5{
		margin-right: 0px !important;
	}

	.jumbotron .pr-5{
		padding-right: 0px !important;
	}

	.parallax-separator h3 {
	    font-size: 1.4em;
	    padding: 0px 20px;
	}

	.reasons-separator h3 {
	    font-size: 1.4em;
	}

	.jcz-separator h3 {
	    text-align: center;
	    padding: 30px 0px;
	    font-size: 1.4em;
	}

	.jcz-separator ol{
		margin: 0px;
		padding: 0px;
		text-align: center;
	}

	.jcz-separator .libro{
		margin: 15px 0px;
	}
}