.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #000;
}
.filterable .filters input[disabled]::-moz-placeholder {
	color: #000;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #000;
}
